{% extends '::base.html.twig' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
{#
{% stylesheets
    'css/reset.css'
    'css/style.css'
    'css/misc.css'
    'css/images.css'
    output='css/main.css'
%}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
{% endstylesheets %}
#}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/govnokod.js') }}"></script>
{% endblock %}

{% block body %}
<div id="page">
    <div id="header">
        <h1><a rel="homepage" href="/">Говнокод: по колено в коде.</a></h1>
        
        <ul id="navigation">
            <li><a href="<?php echo htmlspecialchars($toolkit->getRequest()->getUrl()); ?>/">Все</a></li>
            <li><a href="<?php echo htmlspecialchars($toolkit->getRequest()->getUrl()); ?>/paper/">Газетка</a></li>
            <li><a href="<?php echo htmlspecialchars($toolkit->getRequest()->getUrl()); ?>/best/">Лучший</a></li>
            <li><a href="<?php echo htmlspecialchars($toolkit->getRequest()->getUrl()); ?>/search/">Глупый поиск</a></li>
            <li class="add"><a href="<?php echo htmlspecialchars($toolkit->getRequest()->getUrl()); ?>/add/">Наговнокодить!</a></li>
        </ul>

        <p id="entrance">
            Нашли или выдавили из себя код, который нельзя назвать нормальным,
            на который без улыбки не взглянешь?
            Не торопитесь его удалять или рефакторить, &mdash; запостите его на
            говнокод.ру, посмеёмся вместе!
        </p>
    </div>
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        <address>
            <span>&copy; 2008-2012 &laquo;Говнокод.ру&raquo;</span>
            <span><a href="#">Обратная связь</a></span>
        </address>
    </div>
</div>
{% endblock %}