# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
www/uploads/*
www/bundles/*

# Configuration files
app/config/parameters.yml

# other
composer.phar
app/SymfonyRequirements.php
app/check.php
