# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
www/uploads/*
www/bundles/*

# Configuration files
app/config/parameters.yml

# Vagrant
Vagrantfile
.vagrant

# other
composer.phar
composer.lock
app/SymfonyRequirements.php
app/check.php
/nbproject/private/
.idea
php-cs-fixer.phar
www/js/compiled
www/css/compiled
