<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Говнокод.ру{% endblock %}</title>
{% block css %}{% endblock %}
{% block javascripts %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>