<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block page_title %}Говнокод.ру{% endblock %}</title>
{% block stylesheets %}
{% stylesheets
    'css/style.css'
    filter='cssrewrite'
    output='css/compiled/main.css'
%}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
{% block body %}{% endblock %}
{% block javascripts %}
    {% javascripts
        'js/jquery-1.8.3.min.js'
        'js/jquery.scrollTo.js'
        'js/jquery.timeago.js'
        'js/jquery.timeago.ru.js'
        'js/main.js'
        output='js/compiled/main.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
    </body>
</html>
