{% extends '::base.html.twig' %}
{% block body %}
        <div id="page">
            <div id="header">
                <h1><a rel="homepage" href="{{ path('_index') }}">Говнокод: по колено в коде.</a></h1>

		        <div id="userpane">
		            <ul class="menu">
		                <li><a id="expand-trigger" href="#">Войти в говнокод</a></li>
		            </ul>

		            <form class="pane-content">
		                <ul>
		                    <li></li>
		                    <li class="submit-holder"></li>
		                </ul>

		                <p><a href="#">Что это?</a> | <a href="#">Обычная форма входа</a></p>
		            </form>
		        </div>

		        <ul id="navigation">
		            <li><a href="{{ path('_index') }}">Все</a></li>
		            <li><a href="#">Газетка</a></li>
		            <li><a href="#">Лучший</a></li>
		            <li><a href="#">Глупый поиск</a></li>
		            <li class="add"><a href="{{ path('code_add') }}">Наговнокодить!</a></li>
		        </ul>

		        <p id="entrance">
		            Нашли или выдавили из себя код, который нельзя назвать нормальным,
		            на который без улыбки не взглянешь?
		            Не торопитесь его удалять или рефакторить, &mdash; запостите его на
		            говнокод.ру, посмеёмся вместе!
		        </p>
				{% render controller("GovnokodCodeBundle:Category:list") %}
            </div>

		    <div id="content">
		        {% block content %}{% endblock %}
		    </div>

		    <div id="footer">
		        <address>
		            <span>&copy; 2008-2013 &laquo;Говнокод.ру&raquo;</span>
		            <span><a href="#">Обратная связь</a></span>
		        </address>
		    </div>
        </div>
{% endblock body %}