parameters:
    database_driver:        pdo_mysql
    database_host:          localhost
    database_port:          ~
    database_name:          govnokod
    database_user:          root
    database_password:      ~
    
    mailer_transport:       smtp
    mailer_host:            localhost
    mailer_user:            ~
    mailer_password:        ~
    mailer_from:            govnokod@govnokod.local
    mailer_from_name:       Говнокод.ру
    
    locale:                 ru
    secret:                 ThisTokenIsNotSoSecretChangeIt

    github_client_id:       1
    github_client_secret:   1

    facebook_app_id:        1
    facebook_app_secret:    1