    <ol id="language">
	{% for category in categories %}
		<li><a href="{{ path('code_list', { 'category': category.name }) }}">{{ category.title }}</a> <span>({{ category.codes }})</span></li>
	{% endfor %}
    </ol>