{% extends 'WiistrikerGovnokodBundle::layout.html.twig' %}

{% block content %}

<script src="{{ asset('CodeMirror-2.24/lib/codemirror.js') }}"></script>
<link rel="stylesheet" href="{{ asset('CodeMirror-2.24/lib/codemirror.css') }}" />

<script type="text/javascript">
$(function() {
    var codeMirror = CodeMirror.fromTextArea($('#code')[0], {
        indentUnit: 4,
        lineNumbers: true,
        autofocus: true,
        extraKeys: {
            
        }
    }); 
});
</script>

<ol class="posts hatom">
    <li class="hentry">
        <dl>
                <dd>
                    <textarea id="code" name="code" rows="10" cols="50"></textarea>
                </dd>
        </dl>
    </li>
</ol>
{% endblock %}