                {% if rate == 'against' %}<span class="vote-against my-vote" title="Мой голос">{% else %}<span class="vote-against">{% endif %}&darr;</span>
                <strong class="{% if post.rating < 0 %} bad{% endif %}" title="{{ post.votesOn }} за и {{ post.votesAgainst }} против">{% if post.rating > 0 %}+{% elseif post.rating < 0 %}&minus;{% endif %}{{ post.rating|abs }}</strong>
                {% if rate == 'on' %}<span class="vote-on my-vote" title="Мой голос">{% else %}<span class="vote-on">{% endif %}&uarr;</span>